/*
 * header
 * ================================
 */
nav h1{
	padding-left:40px;
	background:url("../images/Painter.gif") no-repeat left center/auto 80%;
	display:inline-block;
	float: left;
	margin:0;
	font-size: 16px;
	line-height: 1.2em
}
/**
 * 	主要区域
 * =======================================
 */
/**
 * 	绘图区域
 * ---------------------------------------
 */
.canvas-wrap{
	position: relative;
	background:#ffffff
}
.canvas-paint{
	position: absolute;
	top:0;
	left:0;
	cursor: none
}
/**
 * 	工具栏
 * ================================
 */
/**
 * 	工具栏
 * -----------------------------------
 */
.tool button{
	border:0;
	border-radius: 5px;
	background-repeat:no-repeat;
	background-size:80% 80%;
	background-position: center center
}
.tool button:hover{
	background-color:#E5DEDE
}
.tool button.active{
	background-color:#888;
}
/**
 * 	图形类按钮
 */
.tool button[data-current-tool="Line"]{
	background-image:url("../images/tool-button-line.gif");
}
.tool button[data-current-tool="CurveClosed"]{
	background-image:url("../images/tool-button-curve-closed.gif");
}
.tool button[data-current-tool="Rect"]{
	background-image:url("../images/tool-button-rect.gif");
}
.tool button[data-current-tool="RectRound"]{
	background-image:url("../images/tool-button-rect-round.gif");
}
.tool button[data-current-tool="Circle"]{
	background-image:url("../images/tool-button-circle.gif");
}
/**
 * 	轮廓类按钮
 */
.tool button[data-current-tool="Pen"]{
	background-image:url("../images/tool-button-pen.gif");
}
.tool button[data-current-tool="CurveClosedStroke"]{
	background-image:url("../images/tool-button-curve-closed-stroke.gif");
}
.tool button[data-current-tool="RectStroke"]{
	background-image:url("../images/tool-button-rect-stroke.gif");
}
.tool button[data-current-tool="RectRoundStroke"]{
	background-image:url("../images/tool-button-rect-round-stroke.gif");
}
.tool button[data-current-tool="CircleStroke"]{
	background-image:url("../images/tool-button-circle-stroke.gif");
}

.tool .flood-fill{
	background: transparent url("../images/tool-button-floodfill.gif") no-repeat center center/80% 80%;
}
.tool .eraser{
	background: transparent url("../images/tool-button-eraser.gif") no-repeat center center/80% 80%;
}
.tool .select{
	background: transparent url("../images/tool-button-select.gif") no-repeat center center/80% 80%;
}
.tool .text{
	background: transparent url("../images/tool-button-text.gif") no-repeat center center/80% 80%;
}
.tool .eye-dropper{
	background: transparent url("../images/tool-button-eyedropper.gif") no-repeat center center/80% 80%;
}
.tool .color{
	width:25px;
	height:25px;
	margin:10px 0 0 10px
}
/**
 * 	工具属性面版
 * -------------------------
 */
.tool-attribute-panel{
	display: inline-block
}
.tool-attribute-panel input{
	width:80px
}
/**
 * 	工具面板
 * -----------------------------------
 */
.tool-panel button{
	border:0;
	border-radius:5px;
	background-repeat:no-repeat;
	background-size:80% 80%;
	background-position: center center
}
.tool-panel .wrap{
	display:none;
}
.tool-panel .wrap button:hover{
	background-color:#E5DEDE
}
/**
 * 	图形工具面板
 * ------------------------
 */
.tool-panel .shape{
	display:block
}
.tool-panel .shape .line{
	background-image:url("../images/tool-button-line.gif");
}
.tool-panel .shape .curve-closed{
	background-image:url("../images/tool-button-curve-closed.gif");
}
.tool-panel .shape .rect{
	background-image:url("../images/tool-button-rect.gif");
}
.tool-panel .shape .rect-round{
	background-image:url("../images/tool-button-rect-round.gif");
}
.tool-panel .shape .circle{
	background-image:url("../images/tool-button-circle.gif");
}
/**
 * 	画笔工具面板
 * --------------------------------
 */
.tool-panel .stroke .pen{
	background-image:url("../images/tool-button-pen.gif");
}
.tool-panel .stroke .curve-closed-stroke{
	background-image:url("../images/tool-button-curve-closed-stroke.gif");
}
.tool-panel .stroke .rect-stroke{
	background-image:url("../images/tool-button-rect-stroke.gif");
}
.tool-panel .stroke .rect-round-stroke{
	background-image:url("../images/tool-button-rect-round-stroke.gif");
}
.tool-panel .stroke .circle-stroke{
	background-image:url("../images/tool-button-circle-stroke.gif");
}
/**
 * 	footer
 * ==============================
 */
footer p{
	text-align:center
}
