html{
	width:100%;
	height:100%;
}
body{
	height:100%;
	margin:0;
	background:#fff;
	background:#F6F6F6;	
}
/**
 * 	=============================
 *  container-fluid
 */
.container-fluid{
	height: 100%;
	overflow: hidden
}

/**
 * 	导航
 * ================================
 */
.navbar{
	height:7%;
	margin-bottom: 1%
}

/**
 * 	=================================
 * 页面主要区域
 */
.main-wrap{
	height:66.666666666666666666666666666667%
}
/**
 * 	主要绘图区
 * -----------------------------------
 */
.canvas-wrap{
	height:100%;
	overflow: hidden
}
/**
 * 	信息区
 * -------------------------------
 */
.info{
	height:100%
}
/**
 * 	=================================
 * 工具区域
 */
.tool-wrap{
	height:16.666666666666666666666666666667%;
	margin-top:10px
}
.tool{
	margin:auto;
	height:50%
}
.tool-panel{
	background:#FFFFFF;
	height:50%
}